.DS_Store
.ssh/
.zsh_history
.zsh_sessions/
.CFUserTextEncoding
.claude.json
.claude/
.config/
.copilot/
.local/
.npm/
.vscode/
Library/
Applications/
Desktop/
Documents/
Downloads/
Movies/
Music/
Pictures/
Public/
bin/
padelku/
dompetku/
